.card-title {
  font-size: 13px;
}

.card-img {
  max-width: 250px;
}

.owl-stage-outer {
  position: relative;
}

.owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
}

button.owl-prev,
button.owl-next {
  width: 50%;
  height: 100%;
  color: rgba(255, 255, 255, 0) !important;
}

button.owl-prev:hover,
button.owl-next:hover {
  color: black !important;
}

button:focus {
  outline: none;
}

[aria-label="Previous"],
[aria-label="Next"] {
  font-size: 140px;
  color: inherit;
}

[aria-label="Previous"]:hover,
[aria-label="Next"]:hover {
  color: inherit;
}
