.for-sale h3.title {
  display: inline-block;
  position: relative;
  color: #000;
  line-height: 24px;
}

.for-sale h3.title:before, 
.for-sale h3.title:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: #000;
  top: 48%;
}

.for-sale h3.title:before {
  left: -75px;
}

.for-sale h3.title:after {
  right: -75px;
}

.for-sale .block-note {
  font-style: italic;
  font-size: 14px;
  color: #878787;
  margin-top: 5px;
  line-height: 16px;
  letter-spacing: 0.5px;
}